@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;800&family=Open+Sans:ital,wght@0,300;0,400;1,400&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 500;
}
body {
  font-family: "IBM Plex Mono", monospace;
  height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1rem;
  background: linear-gradient(
    #273248 0%,
    #273248 73.83%,
    #fc7643 73.83%,
    #fc7643 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  padding-top: 10px;
  margin-bottom: -25px;
}

.title {
  text-align: center;
  color: #ffebd2;
  font-size: 2.75rem;
}

.sub_title {
  text-align: center;
  color: #fc7643;
  font-size: 0.875rem;
  margin-top: -0.8rem;
  padding-left: 16rem;
  font-weight: 600;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
}

.cal-container {
  width: 378px;
  height: 467.108px;
  /* background-color: #1c2533; */
  background: linear-gradient(#1c2533 22.5%, #151c26);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.22);
  transform: scale(0.95);
}

.screen {
  padding-right: 1rem;
  padding-bottom: 0.3rem;
  font-size: 1.8rem;
  color: #ffebd2;
}

.calc_screen {
  width: 307.014px;
  height: 100px;
  background-color: #232f3f;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.btn-zero {
  flex-grow: 2;
}

.buttons {
  width: 307.764px;
  height: 293.25px;
  display: flex;
  flex-flow: row wrap;
}

button {
  font-family: inherit;
  width: calc(307.764px / 4);
  border: none;
  background-color: transparent;
  color: #ffebd2;
  font-size: 1.29rem;
}

button.number:hover, .decimal:hover, .special_function:hover, .operator:hover {
  background-color: #232f3f;
}


.operator {
  color: #fc7643;
}

.equal {
  background-color: #fc7643;
  color: #1c2533;
}

.equal:hover {
  background-color: #f4936d;
}

.special_function {
  color: #af4f41;
}



footer {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 0.81rem;
  color: #273248;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1.2rem;
}

a {
  font-weight: 800;
  color: #273248;
  text-decoration: underline #1c2533;
}

img.backspace {
  width: 23px;
}

.reciprocal-icon {
  width: 23px;
  margin-left: 1px;
}
.sqr_icon {
  width: 17px;
  margin-left: 5.5px;
}

.sqrt-icon {
  width: 20px;
  margin-left: 1.5px;
}

.special_function {
  font-size: 1.19rem;
}

